doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Anime Quotes
    body
        h1 Anime Quotes API
        p This API lets you fetch quotes from various anime characters and shows. Built with MongoDB, Express, Pug, and Node.js, it is designed to be convienent and straightforward to use. You can filter quotes by both shows and characters. You can specify the number of quotes to be returned by using the 
            i random 
            | parameter. You can search for multiple shows and characters in a query.
        h2 Route
        div 
            code /api/quotes
        a(href="/api/quotes", target="_blank")  Try it
        p For detailed documentation check the repository at 
            a(href='https://github.com/4rnv/QuotesAPI') https://github.com/4rnv/QuotesAPI
            | . Enhancements and suggestions are welcome!